p {
    color: black;
}
.nav {
    background-color: lightgray;
    max-width: 100%;
    min-width: 140px;
    flex: 1;
}
.nav h2 {
    padding-left: 20px;
}

nav ul{
    display: inline;
}

nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}
.container {
    display: flex;
}
.main {
    background-color: white;
    padding-left: 30px;
    min-width: 75%;
}
body {
    background-color: lightskyblue;
}
img{
    align-content: right;
    max-width: 150px;
}